<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.h.ti.dao.DataSourceModelDao">

    <resultMap id="getDataSourceModel" type="com.h.ti.pojo.DataSourceModel">

        <result property="dsid" column="dsid" />
        <result property="dsType"  column="ds_type" />
        <result property="dsName"  column="ds_name" />
        <result property="username"  column="username" />
        <result property="password"  column="password" />
        <result property="url"  column="url" />
        <result property="driverClassName"  column="driver_class_name" />
        <result property="creator"  column="creator" />
        <result property="updator"  column="updator" />
        <result property="createTime"  column="create_time" />
        <result property="updateTime"  column="updateTime" />
    </resultMap>

    
    <select id="queryAllDataSourceModels" resultMap="getDataSourceModel">
          select * from data_source_model
    </select>

</mapper>
